/* Default styles */
body {
  background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1, 1.5);
  }

  to {
    transform: rotate(360deg);
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

h1,
h2,
h3 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin: 0rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

h2 {
  margin: 40px;
  left: 45%;
  top: 50%;
  text-align: left;
}

h3 {
  margin: 80px;
  left: 54%;
  top: 60%;
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #blob {
    height: 50vmax;
  }

  h2 {
    margin: 20px;
    left: 50%;
    top: 70%;
    text-align: center;
  }

  h3 {
    margin: 40px;
    left: 50%;
    top: 85%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #blob {
    height: 70vmax;
  }

  h1,
  h2,
  h3 {
    font-size: clamp(2rem, 10vw, 8rem);
  }

  h2 {
    margin: 10px;
    top: 60%;
  }

  h3 {
    margin: 20px;
    top: 75%;
  }
}

@media (max-width: 320px) {
  #blob {
    height: 80vmax;
  }

  h1,
  h2,
  h3 {
    font-size: clamp(1.5rem, 10vw, 6rem);
  }

  h2 {
    margin: 10px;
    top: 55%;
  }

  h3 {
    margin: 10px;
    top: 70%;
  }
}
