/* Default styles */
body {
  background-color: black;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1, 1.5);
  }

  to {
    transform: rotate(360deg);
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: auto;
  width: auto;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

h1,
h2,
h3 {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  margin: 0rem;
  position: absolute;
  z-index: 3;
  text-align: center;
}

h1 {
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}

h2 {
  left: 0%;
  top: 60%;
  margin-left: 5%;
  text-align: left;
}

h3 {
  left: 100%;
  top: 60%;
  margin-right: 5%;
  text-align: right;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  #blob {
    height: 50vmax;
  }

  h1 {
    top: 30%;
  }

  h2 {
    left: 50%;
    top: 70%;
    margin-left: -47.5%;
    text-align: center;
  }

  h3 {
    left: 50%;
    top: 85%;
    margin-right: -47.5%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  #blob {
    height: 70vmax;
  }

  h1,
  h2,
  h3 {
    font-size: clamp(2rem, 10vw, 8rem);
  }

  h1 {
    top: 20%;
  }

  h2 {
    top: 60%;
    margin-left: -45%;
  }

  h3 {
    top: 75%;
    margin-right: -45%;
  }
}

@media (max-width: 320px) {
  #blob {
    height: 80vmax;
  }

  h1,
  h2,
  h3 {
    font-size: clamp(1.5rem, 10vw, 6rem);
  }

  h1 {
    top: 15%;
  }

  h2 {
    top: 55%;
    margin-left: -40%;
  }

  h3 {
    top: 70%;
    margin-right: -40%;
  }
}
